
* {
margin: 0;
padding: 0;
}

/* ------------------------------------index.html-------------------------------------------------- */

body {
    background-image: url('../assets/images/questions-marks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.container-div {
    background-color: silver;
    position: absolute;
    width: 60%;
    height: auto;
    margin: 7% 19%;
    padding: 1%;
}

#h1-quiz {
    text-align: center;
    font-size: 2rem;
    margin: 3% auto;
}

#h2-quiz {
    text-align: center;
}

#start-btn-div {
    text-align: center;
    margin: 5% 0;
}

#highscore-btn-div {
    text-align: center;
    margin: 5% 0;
}

#start-btn {
    padding: 2% 10%; 
    background-color: chartreuse;
}

#link-to-quizz {
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 2rem;
}

#highscore-btn {
    padding: 1% 10%; 
    background-color: silver;
    margin-top: 2%;
}

#link-to-highscore {
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 1rem;
}

.btn-main[disabled]:hover {
    cursor: not-allowed;
}

.copyright {
    text-align: center;
}

/* ------------------------------------game.html--------------------------------------------------- */

.fa-house {
    font-size: x-large;
    color:chartreuse;
}

.fa-clipboard-list {
    font-size: x-large;
    color:chartreuse;
   
}

.fa-hourglass-start{
    font-size:x-large;
    color: chartreuse;
}

.fa-award {
    font-size: x-large;
    color:chartreuse;  
}

.count {
    display: inline;
    color:chartreuse;
    font-size:x-large;
    font-weight: bolder;
    padding: 1%;
}

.nav-div {
    display: inline;
    background-color: black;
    padding: 1%;
    margin-right: 3%;
}

.nav-div-home {
    display: inline;
    background-color: black;
    padding: 1%;
}

#nav-bar {
    text-align: right;
    margin-top: 2%;
}

.nav-div-home {
    display: inline;
    background-color: black;
    padding: 1%;
    margin-right: 39%;
}

#question {
    font-size: 1.5rem;
    margin-left: 13%;
    margin-top: 8%;
    margin-bottom: 5%;
    width: 70%;
    text-align: center;
}

#answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width:70%;
    margin-left: 12%;
}

#answers div {
    background-color: blueviolet;
    text-align: center;
    padding: 5% 0;
    font-size: 1.5rem;
}

#answers div:hover {
    background-color: rgb(156, 133, 179);
    cursor: pointer;
}

#next-btn {
    padding: 1% 3%;
    float: right;
    margin: 3% 3% 3% 0;
    background-color:chartreuse;
    display: inline;
}

#next-btn:hover {
    background-color: rgb(165, 238, 93);
}

#span-btn {
    font-weight: 800;
}

.fa-chevron-right {
    padding-right: 2%;
    font-weight: bolder;
}

